@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: Tetris;
  src: url("./fonts/VT323/VT323-Regular.ttf");
  font-weight: 600;
}

/* You can add global styles to this file, and also import other style files */

body,
html {
  font-family: Tetris !important;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--background-color-grey) !important;
  overflow: hidden;
  font-size: 1rem !important;

  --primary-color: #1a1a1a;
  --secondary-color: #eaa201;
  --color-text: white;
  --background-color-grey: #1a1a1a;
  --background-color-primary: black;

  --light-blue: #05aff2;
  --orange: #ff6b35;
  //#f24405;
  --blue: #056cf2;
  --red: #f22929;
  --purple: #a000f1;
  --yellow: #f2cb05;
  --green: #038c0c;

  &::-webkit-scrollbar {
    display: none !important;
  }

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.primary-button {
  border: 2px solid;
  padding: 0.5rem;
  width: fit-content;
  background: white;
  color: black;
  min-width: 4rem;
  text-align: center;
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

.mat-dialog-container {
  box-shadow: none;
  background: transparent;
}
