:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: repeat url("../../assets/background.jpg");
  overflow: scroll;

  .refresh {
    margin-bottom: 2rem !important;
    margin-top: 0 !important;
  }

  .title {
    font-size: 4rem;
    text-align: center;
    margin: 3rem 0;
    color: black;
    background: white;
    border: 4px solid black;
    padding: 0 1rem;
  }

  .container {
    display: grid;
    padding: 0 2rem;
    grid-template-columns: repeat(auto-fill, 16rem);
    grid-gap: 1.5rem;
    justify-content: center;
    width: 100%;
    max-width: 75rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
  }

  .item-container {
    display: flex;
    height: 13rem;
    flex-direction: column;
    padding: 1rem;
    background-color: gray;
    border: 4px solid black;

    .item-title {
      font-size: 1.5rem;
      margin: 0.5rem;
      text-align: center;
    }

    .input-name {
      margin-bottom: 0.5rem;
    }

    input {
      max-width: 10rem;
      margin-bottom: 0.5rem;
      border: 2px solid black;
      padding: 2px 6px;
      font-family: "Tetris";
      font-size: 1rem;

      &.error {
        margin-bottom: 0;
      }
    }
  }

  .purple {
    background: var(--purple);
  }

  .light-blue {
    background: var(--light-blue);
  }

  .orange {
    background: var(--orange);
  }

  .red {
    background: var(--red);
  }

  .green {
    background: var(--green);
  }

  .blue {
    background: var(--blue);
  }

  .yellow {
    background: var(--yellow);
  }

  .primary-button {
    margin: 0 auto;
    margin-top: auto;
  }
}

.pieceList {
  border: 2px black;
}
.errorMsg {
  color: red; //#2e0000

  &.black {
    color: #2e0000;
  }
}
